@model ProyectoFinal.Models.UserLogin
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Facturación</title>
    <link rel="stylesheet" href="~/css/estilo.css"> 
</head>
<body class="login_page">
    <div class="contenido">
        <h1>SISTEMA</h1>
        <h2>DE FACTURACION ELECTRONICA</h2>

        <img src="~/images/CajasAlmacen.png" alt="Cajas" class="cajas">

        <div class="login_box">
            <img src="~/images/CerraduraRoja.png" alt="Candado" class="candado">

            <div class="formulario">
                <div class="titulo">Control de Acceso</div>

                <form asp-controller="Acceso" asp-action="Login" method="post" class="center_content">
                    <div class="campo">
                        <label for="usuario">Usuario.:</label>
                        <input type="text" id="usuario" placeholder="Introduzca su Usuario" asp-for="LogUsuario">
                    </div>

                    <div class="campo">
                        <label for="clave">Clave.:</label>
                        <input type="password" id="clave" placeholder="Introduzca su Contraseña" asp-for="LogClave">
                    </div>

                    <div class="boton-container">
                        <button type="submit">Aceptar</button>
                    </div>
                </form>

                @if (ViewBag.Mensaje != null)
                {
                    <div class="mensaje">
                        Mensaje.: @ViewBag.Mensaje
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>
