@{
    Layout = "~/Views/Shared/_header.cshtml";
    ViewData["Title"] = "Dashboard";
}
    <main class="contenido">
        <h2>Bienvenido</h2>
        <div class="imagen-cajas">
            <img src="~/images/CajasAlmacen.png" alt="Cajas" />
        </div>
    </main>
