@{
    Layout = "~/Views/Shared/_header.cshtml";
    ViewData["Title"] = "Mantenimiento";
}

<div class="panel-grid">
    <aside class="menu-lateral">
        <ul>
            <li><a asp-controller="Mantenimiento" asp-action="FrmEmpresa" class="boton-menu">Crear Empresa</a></li>
            <li><a asp-controller="Mantenimiento" asp-action="FrmCaja"  class="boton-menu">Crear Caja</a></li>
            <li><a asp-controller="Mantenimiento" asp-action="FrmBodega" class="boton-menu">Crear Bodega</a></li>
            <li><a href="#" class="boton-menu">Crear Cliente</a></li>
            <li><a href="#" class="boton-menu">Crear Producto</a></li>
            <li><a href="#" class="boton-menu">Crear Suplidor</a></li>
        </ul>
    </aside>

    <main class="contenid0">
        <h2>Bienvenido</h2>
        <div class="imagen-cajas">
            <img src="~/images/CajasAlmacen.png" alt="Cajas" />
        </div>
    </main>
</div>
